.about-title {
  text-align: center;
}

.about-description {
  text-align: center;
  font-size: 13pt;
  margin: 32px;
}

.category-list-title {
  margin: 48px 16px 0px 16px;
  font-size: 14pt;
}

.product-category-list > li {
  margin-top: 8px;
}
