.form-container {
  margin: 16px;
  border-radius: 16px;
  background-color: var(--card);
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 32px;
}

.form-tab {
  width: 50%;
  height: 40px;
  font-size: 12pt;
  color: var(--offwhite);
  background: none;
  border: none;
  text-transform: capitalize;
  transition-duration: 0.25s;
}

.inactive-tab:hover {
  background-color: rgba(0, 0, 0, 16%);
}

.active-tab {
  background-color: var(--accent);
}

.login-tab {
  border-top-left-radius: 16px;
}

.register-tab {
  border-top-right-radius: 16px;
}

.text-field-label {
  margin-left: 16px;
  margin-bottom: 4px;
  font-size: 11pt;
}

.text-field {
  height: 56px;
  padding: 0px 16px;
  font-size: 12pt;
  color: var(--offwhite);
  background: none;
  border: 1px solid gray;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.25s;
}

.text-field:focus {
  border-color: var(--accent);
}

.form-password-label {
  margin-top: 16px;
}

.form-submit-button {
  height: 40px;
  margin-top: 32px;
  padding: 0px 24px;
  border-radius: 20px;
  color: var(--offwhite);
  background-color: var(--accent);
  border: none;
  font-size: 12pt;
  transition-duration: 0.25s;
}

.form-submit-button:active {
  background-color: var(--accent-dark);
}

.form-submit-button:disabled {
  opacity: 25%;
}
