.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 16px;
  padding: 32px;
  border-radius: 16px;
  background-color: var(--container);
}

.form-password-label {
  margin-top: 16px;
}

.form-submit-button {
  margin-top: 32px;
}

.form-helper-text {
  margin-top: 16px;
}

.form-hyperlink-text {
  margin-left: 8px;
  text-decoration: underline;
}
