.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 16px;
  padding: 32px;
  border-radius: 16px;
  background-color: var(--container);
}

.password-label {
  margin-top: 16px;
}

.login {
  margin-top: 32px;
}

.register {
  margin-top: 16px;
  text-align: center;
}
