.welcome-message {
  margin-left: 16px;
  margin-bottom: 48px;
}

.category-name {
  margin-left: 16px;
  text-transform: capitalize;
}

.products-container {
  display: flex;
  margin-bottom: 32px;
  overflow-x: scroll;
}

.category-product {
  padding: 16px;
}
