header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding-left: 16px;
  padding-right: 16px;
}

nav {
  display: flex;
}

.destination {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0px 16px;
  border-radius: 20px;
  margin-right: 8px;
  color: var(--offwhite);
  transition: background-color 0.25s;
}

/* Fill on hover */
.destination:hover {
  background-color: var(--accent);
}

/* Fill with a darker color on press */
.destination:active {
  background-color: var(--accent-dark);
}

.selected {
  background-color: var(--accent);
}

.action-button {
  width: 24px;
  height: 24px;
  padding: 8px;
  border-radius: 20px;
  fill: var(--offwhite);
  transition-duration: 0.25s;
}

.action-button:hover {
  background-color: var(--accent);
}

.action-button:active {
  background-color: var(--accent-dark);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(var(--footer-height) - 2px);
  border-top: 2px solid;
}

.logo-name {
  font-size: 15pt;
  font-weight: bold;
}

.logo-description {
  font-size: 13pt;
  margin-top: 8px;
}
