:root {
  --accent: #813845;
  --accent-dark: #6a2e38;
  --offwhite: #e8eaed;
  --background-color: #181818;
  --header-height: 64px;
  --footer-height: 80px;
}

body {
  margin: 0;
  font-family: Roboto;
  color: var(--offwhite);
  background-color: var(--background-color);
}

/* Semantic css classes */
.no-underline {
  text-decoration: none;
}

.no-background {
  background: none;
}

.borderless {
  border: none;
}

.fullscreen {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  width: 100%;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.vertical {
  display: flex;
  flex-direction: column;
}
