:root {
  --accent: #a52a2a;
  --accent-dark: #8c2323;
  --container: #eed9c4;
}

body {
  margin: 0;
  font-family: Roboto;
}

.filled-button {
  height: 40px;
  padding: 0px 24px;
  border-radius: 20px;
  color: white;
  background-color: var(--accent);
  border: none;
  font-size: 12pt;
  transition: background-color 0.25s;
}

.filled-button:active {
  background-color: var(--accent-dark);
}

.icon-button {
  width: 24px;
  height: 24px;
  padding: 8px;
  border-radius: 20px;
  background: none;
  border: none;
  transition: background-color 0.25s;
}

.icon-button:hover {
  fill: white;
  background-color: var(--accent);
}

.icon-button:active {
  fill: white;
  background-color: var(--accent-dark);
}

.text-button {
  color: black;
  background: none;
  border: none;
  font-size: 12pt;
}

.text-button:active {
  color: var(--accent-dark);
}

.no-underline {
  text-decoration: none;
}

.text-field-label {
  margin-left: 16px;
  margin-bottom: 4px;
  font-size: 11pt;
}

.text-field {
  height: 56px;
  padding: 0px 16px;
  font-size: 12pt;
  background: none;
  border: 1px solid black;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.25s;
}

.text-field:focus {
  border-color: var(--accent);
}