.cart {
  width: 24px;
  height: 24px;
  padding: 8px;
  border-radius: 20px;
  background: none;
  transition: background-color 0.25s;
}

.cart:hover {
  fill: white;
  background-color: var(--primary);
}

.cart:active {
  fill: white;
  background-color: var(--primary-dark);
}
