.login {
  padding: 8px 16px;
  border-radius: 20px;
  background-color: var(--secondary);
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.25s;
}

.login:active {
  background-color: var(--secondary-dark);
}
